version: "3.8"

services:
  vm1:
    build: ./server
    ports:
      - "5001:5000"
    command: ["gunicorn", "-w", "1", "-b", "0.0.0.0:5000", "--timeout", "300", "server:app"] # -w 1 -> 1 CPU Core

  vm2:
    build: ./server
    ports:
      - "5002:5000"
    command: ["gunicorn", "-w", "2", "-b", "0.0.0.0:5000", "--timeout", "300", "server:app"] # -w 2 -> 2 CPU Cores

  vm3:
    build: ./server
    ports:
      - "5003:5000"
    command: ["gunicorn", "-w", "4", "-b", "0.0.0.0:5000", "--timeout", "300", "server:app"] # -w 4 -> 4 CPU Cores

  vm4:
    build: ./server
    ports:
      - "5004:5000"
    command: ["gunicorn", "-w", "8", "-b", "0.0.0.0:5000", "--timeout", "300", "server:app"] # -w 8 -> 8 CPU Cores
